.ding-library-opened-today .library,
.ding-library-opening-hours .day {
  display: block;
}

.ding-library-opened-today .library .name,
.ding-library-opening-hours .day .day-name {
  display: block;
  float: left;
}

.ding-library-opened-today .library .hours,
.ding-library-opening-hours .day .hours {
  display: block;
  text-align: right;
}

.ding-library-opened-today .library .hours .notice-star {
  margin-right: -1em;
}
